@using TrendyShop.ViewModels
@model AddViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Artículo x)</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Anuncios
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Add/NewAdd">Anunciar</a>
                            <a class="dropdown-item" href="/Add">Lista de Anuncios</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Subasta
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Auction/NewAuction">Nueva Subasta</a>
                            <a class="dropdown-item" href="/Auction">Lista de Subastas</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contáctanos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/User/Login">Entrar</a>
                            <a class="dropdown-item" href="/Home/Register">Registrar</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->

        <div class="row">
            <h3 class="col-lg-4 mt-4">@Model.Article.Name</h3>
            @*<a href="/Home/Vendor" class="col-lg-4 mt-4 text-center"><h3>Vendedor</h3></a>*@
            <p>@Html.ActionLink(Model.UserName, "Details", "User", new { id = Model.UserId }, null)</p>
        </div>




        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active"><a href="/Home/Articles">Artículos</a></li>
            <li class="breadcrumb-item active">@Model.Article.Name</li>
        </ol>

        <div class="row">
            <div class="col-lg-12 navbar-brand">Imagen del producto</div>
            <div class="col-lg-12">
                <img src="/images/img1.jpg" height="255" width="255">
            </div>
        </div>

        <!-- Article Info -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <h4 class="card-header my-4">Descripción:</h4>
            </div>

            <div class="col-lg-12 card-body">
                <p class="card-text">
                    @Model.AddDescription
                </p>
            </div>

            <div class="col-lg-11 card-footer my-4">
                <h3>Precio: @Model.Article.Price</h3>
            </div>
            <div class="col-lg-11 card-footer my-4">
                <h3>Cantidad Disponible: @Model.Amount</h3>
            </div>

            <div class="col-lg-1 card-footer my-4">
                @*                <a href="" class="btn btn-primary">Comprar</a>*@
                @Html.ActionLink("Comprar", "Buy", "Buy", new { uid = @Model.UserId, aid = @Model.Article.ArticleId }, null)

            </div>

            <div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Editar", "Edit", "Add", new { aid = @Model.Article.ArticleId, uid = Model.UserId }, null)

            </div>

            <div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Eliminar", "Delete", "Add", new { aid = @Model.Article.ArticleId, uid = @Model.UserId }, null)

            </div>
            @*incompleto*@

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
