@using TrendyShop.ViewModels
@model AddViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Artículo x)</title>


</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->

        <div class="row">
            <h3 class="col-lg-4 mt-4">@Model.Article.Name</h3>
            <a href="/User/Details" class="col-lg-10 mt-4 text-center"><h3>@Html.ActionLink(Model.UserName, "Details", "User", new { id = Model.UserId }, null)</h3></a>
        </div>

        <div class="row">
            <div class="col-lg-12 navbar-brand">Imagen del producto</div>
            <div class="col-lg-12">
                <img src="/images/img1.jpg" height="255" width="255">
            </div>
        </div>

        <!-- Article Info -->
        <div class="row">
            <div class="col-lg-11 mb-4">
                <h4 class="card-header my-4">Descripción:</h4>
            </div>

            <div class="col-lg-11 mb-4 card-body">
                <p class="card-text">
                    @Model.AddDescription
                </p>
            </div>

            <div class="col-lg-11 mb-4 card-footer my-4">
                <h3>Precio: @Model.Article.Price</h3>
            </div>
            <div class="col-lg-11 mb-4 card-footer my-4">
                <h3>Cantidad Disponible: @Model.Amount</h3>
            </div>

            <div class="col-lg-1 card-footer my-4">
                @*                <a href="" class="btn btn-primary">Comprar</a>*@
                @Html.ActionLink("Comprar", "Buy", "Buy", new { uid = @Model.UserId, aid = @Model.Article.ArticleId }, null)

            </div>

            <div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Editar", "Edit", "Add", new { aid = @Model.Article.ArticleId, uid = Model.UserId }, null)

            </div>

            <div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Eliminar", "Delete", "Add", new { aid = @Model.Article.ArticleId, uid = @Model.UserId }, null)

            </div>
            @*incompleto*@

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</body>

</html>
