@using TrendyShop.ViewModels

@*@model IEnumerable<Add>*@
@model AddsViewModel

<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="col-lg-4 mt-4 mb-3">Artículos</h1>

        <form asp-action="Search" asp-controller="Add">
            <div class="d-flex">
                <div class="ml-auto">
                    <div class="d-flex">
                        <input type="search" class="form-control" id="search" name="search">
                        <button type="submit" class="btn btn-dark ml-1">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/Index">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Artículos</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <ul class="navbar-nav flex-column">
                        <li class="card-title border-bottom h2">
                            Filtrar por...
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="collapse" aria-expanded="false" data-target="#submenu-0" aria-controls="submenu-0"><i class="fas fa-dollar-sign"></i> Precio</a>
                            <div id="submenu-0" class="collapse submenu" style="">
                                <form asp-controller="Add" asp-action="PriceFilter">
                                    <ul class="nav flex-column">
                                        <li class="nav-item mb-1 ml-4">
                                            <div class="list-group-item">
                                                <div class="d-flex flex-column">
                                                    <label for="minp">Min</label>
                                                    <input type="number" name="minp" id="minp" />

                                                    <label for="maxp">Max</label>
                                                    <input type="number" name="maxp" id="maxp" />
                                                </div>
                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-dark mt-3 ml-auto">Filtrar</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-chart-bar"></i> Categoría <span class="badge badge-success"></span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    @foreach (Category cat in Model.Categories)
                                    {
                                        <li class="nav-item mb-1 ml-4">
                                            @Html.ActionLink(cat.Name, "CategoryFilter", "Add", new { categoryId = cat.CategoryId })
                                        </li>
                                    }
                                    @if (Model.UserIsAdmin)
                                    {
                                        <li class="nav-item mb-1 ml-4">
                                            <a href="#" data-toggle="modal" data-target="#CategoryModal"><i class="fas fa-plus"></i> Añadir Categoría</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1"><i class="fas fa-gift"></i> Condición</a>
                            <div id="submenu-1-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-1 ml-4">
                                        @Html.ActionLink("Nuevo", "ConditionFilter", "Add", new { isNew = true })
                                    </li>
                                    <li class="nav-item mb-1 ml-4">
                                        @Html.ActionLink("De Uso", "ConditionFilter", "Add", new { isNew = false })
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/Add/Index"><i class="fas fa-globe"></i> Ver todos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-9 mb-4">
            <h2>Lista de Artículos</h2>

            @foreach (Add a in Model.Adds)
            {
                <div class="col-lg-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body" @*style="background-color:rgb(246, 246, 255)"*@>
                            <img class="img-fluid rounded" src="~/images/@a.Article.Image" height="200" width="300" />
                            <h4 class="card-title border-bottom">@a.Article.Name</h4>

                            <div class="d-flex">
                                <h5> <i class="fas fa-money-bill-alt"></i> Precio: @a.Article.Price$</h5>
                                <h5 class="ml-2"><i class="fas fa-certificate"></i> Marca: @a.Article.Brand</h5>
                            </div>
                            <p class="card-text">@a.Article.Description</p>

                            <div class="d-flex">
                                <div class="ml-auto">
                                    @Html.ActionLink("Ver Anuncio...", "Details", "Add", new { id = a.ArticleId }, null)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    @*<div class="modal-header">
                        <h5 class="modal-title" id="CategoryModalLongTitle"></h5>*@
                        
                    @*</div>*@
                    <div class="modal-body">
                        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <form asp-action="SaveAddCategory" asp-controller="User">
                            <div class="flex-column">
                                @Html.LabelFor(m => m.CategoryName)
                                <div class="d-flex">
                                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-group" })
                                    @Html.ValidationMessageFor(m => m.CategoryName)
                                    <button class="btn btn-secondary ml-2 form-group" type="submit">Añadir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>

</html>


