@using TrendyShop.ViewModels

@*@model IEnumerable<Add>*@
@model AddIndexViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Artículos)</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->

        <div class="row">

            <h1 class="col-lg-4 mt-4 mb-3">
                Artículos
                <small>(Filtros)</small>
            </h1>
            <div class="col-lg-2"></div>
            <input type="text" class="form-control col-lg-5 mt-4 mb-3" id="name">
            <a class="col-lg-1 btn btn-primary mt-4 mb-4 text-white">Buscar</a>

        </div>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Artículos</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <h3>Filtrar por:</h3>
                <div class="list-group">
                    @*<a href="" class="list-group-item">Tipo</a>*@
                    <a href="" class="list-group-item">Precio</a>
                    <a href="" class="list-group-item">Categoría</a>
                    @foreach (Category cat in Model.Categories)
                    {
                        @Html.ActionLink(cat.Name, "Index", "Add", new { categoryId = cat.CategoryId }, new { @class = "list-group-item" });

                    }
                    <a href="" class="list-group-item">Condición</a>
                    @Html.ActionLink("Nuevo", "Index", "Add", new { isNew = "true" }, new { @class = "list-group-item" })
                    @Html.ActionLink("De Uso", "Index", "Add", new { isNew = "false" }, new { @class = "list-group-item" })
                    
                </div>
            </div>

            <div class="col-lg-9 mb-4">
                <h2>Lista de Artículos</h2>

                <div class="row">
                    @foreach (Add a in Model.Adds)
                    {
                        <div class="col-lg-12 mb-4">
                            <div class="card h-100">
                                <h4 class="card-header">@a.Article.Name</h4>
                                <div class="card-body">
                                    <p class="card-text">@a.Article.Description</p>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-11">
                                            <h3>Precio: @a.Article.Price</h3>
                                        </div>
                                        <div class="col-lg-1">
                                            @*<a href="/Home/Article" class="btn btn-primary">Más</a>*@
                                            @Html.ActionLink("Mas", "Details", "Add", new { id = a.ArticleId }, null)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            @*<div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Nuevo Anuncio", "NewAdd", "Add", null)

            </div>*@
        </div>

    </div>
    <!-- /.container -->
 
    <!-- Bootstrap core JavaScript -->

</body>

</html>


