@using TrendyShop.ViewModels

@*@model IEnumerable<Add>*@
@model AddIndexViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Artículos)</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Anuncios
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Add/NewAdd">Anunciar</a>
                            <a class="dropdown-item" href="/Add">Lista de Anuncios</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Subasta
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/Auction/NewAuction">Nueva Subasta</a>
                            <a class="dropdown-item" href="/Auction">Lista de Subastas</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contáctanos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuario
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/User/Login">Entrar</a>
                            <a class="dropdown-item" href="/Home/Register">Registrar</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->

        <div class="row">

            <h1 class="col-lg-4 mt-4 mb-3">
                Artículos
                <small>(Filtros)</small>
            </h1>
            <div class="col-lg-2"></div>
            <input type="text" class="form-control col-lg-5 mt-4 mb-3" id="name">
            <a class="col-lg-1 btn btn-primary mt-4 mb-4 text-white">Buscar</a>

        </div>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Artículos</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <h3>Filtrar por:</h3>
                <div class="list-group">
                    @*<a href="" class="list-group-item">Tipo</a>*@
                    <a href="" class="list-group-item">Precio</a>
                    <a href="" class="list-group-item">Categoría</a>
                    @foreach (Category cat in Model.Categories)
                    {
                        @Html.ActionLink(cat.Name, "Index", "Add", new { categoryId = cat.CategoryId }, new { @class = "list-group-item" });

                    }
                    <a href="" class="list-group-item">Condición</a>
                    @Html.ActionLink("Nuevo", "Index", "Add", new { isNew = "true" }, new { @class = "list-group-item" })
                    @Html.ActionLink("De Uso", "Index", "Add", new { isNew = "false" }, new { @class = "list-group-item" })
                    
                </div>
            </div>

            <div class="col-lg-9 mb-4">
                <h2>Lista de Artículos</h2>

                <div class="row">
                    @foreach (Add a in Model.Adds)
                    {
                        <div class="col-lg-12 mb-4">
                            <div class="card h-100">
                                <h4 class="card-header">@a.Article.Name</h4>
                                <div class="card-body">
                                    <p class="card-text">@a.Article.Description</p>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-11">
                                            <h3>Precio: @a.Article.Price</h3>
                                        </div>
                                        <div class="col-lg-1">
                                            @*<a href="/Home/Article" class="btn btn-primary">Más</a>*@
                                            @Html.ActionLink("Mas", "Details", "Add", new { id = a.ArticleId }, null)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-lg-1 card-footer my-4">
                @Html.ActionLink("Nuevo Anuncio", "NewAdd", "Add", null)

            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>


