<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@model TrendyShop.ViewModels.NewAddViewModel

<body>
    <form asp-controller="Add" asp-action="CreateNewAdd" method="post" class="m-4" enctype="multipart/form-data">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title border-bottom text-center" >Publique su artículo</h1>
                    <div class="form-group d-flex flex-column">
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.Name)
                            @Html.TextBoxFor(a => a.Add.Article.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Article.Name)
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.Brand)
                            @Html.TextBoxFor(a => a.Add.Article.Brand, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Article.Brand)
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.Price)
                            @Html.TextBoxFor(a => a.Add.Article.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Article.Price)
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.CategoryId)
                            @Html.DropDownListFor(a => a.Add.Article.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), "", new { @class = "form-control" })
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Amount)
                            @Html.TextBoxFor(a => a.Add.Amount, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Amount)
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.Description)
                            @Html.TextAreaFor(a => a.Add.Article.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Article.Description)
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Article.IsNew)
                            @Html.CheckBoxFor(a => a.Add.Article.IsNew)
                            @Html.ValidationMessageFor(a => a.Add.Article.IsNew)
                        </div>
                        <label asp-for="Image"></label>
                        <div class="custom-file mb-2">
                            <input asp-for="Image" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile">Choose File</label>
                            <span asp-validation-for="Image"></span>
                        </div>
                        <div class="mb-2">
                            @Html.LabelFor(a => a.Add.Description)
                            @Html.TextAreaFor(a => a.Add.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Add.Description)
                        </div>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-dark">Publicar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @*public int CategoryId { get; set; } verificar que sea obligado isertarlo*@
    @*public int UserId { get; set; }*@
    @*public DateTime LastModified { get; set; }*@
</body>

</html>