<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@model TrendyShop.ViewModels.NewAddViewModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NewAdd</title>
</head>

<body>
    <h1>NewAdd</h1>
    <div class="row">
        <div class="col-lg-12 navbar-brand">Imagen</div>
    </div>

    <form asp-controller="Add" asp-action="CreateNewAdd" method="post" class="m-4">
        <div class="row breadcrumb">
            <h5 class="col-lg-12">Nombre:</h5>
            @Html.TextBoxFor(a => a.Add.Article.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Article.Name)

            <h5 class="col-lg-12">Marca:</h5>
            @Html.TextBoxFor(a => a.Add.Article.Brand, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Article.Brand)

            <h5 class="col-lg-12">Precio:</h5>
            @Html.TextBoxFor(a => a.Add.Article.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Article.Price)

            <h5 class="col-lg-12">Categoría:</h5>
            @Html.DropDownListFor(a => a.Add.Article.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), "", new { @class = "form-control" })

            <h5 class="col-lg-12"> Cantidad:</h5>
            @Html.TextBoxFor(a => a.Add.Amount, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Amount)

            <h5 class="col-lg-12">Descripción del Artículo:</h5>
            @Html.TextAreaFor(a => a.Add.Article.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Article.Description)

            <h5 class="col-lg-12 custom-checkbox">
                Nuevo:
                @Html.CheckBoxFor(a => a.Add.Article.IsNew)
                @Html.ValidationMessageFor(a => a.Add.Article.IsNew)
            </h5>

            <h5 class="col-lg-12">Descripción de anuncio:</h5>
            @Html.TextAreaFor(a => a.Add.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Add.Description)  

         

            <div class="col-lg-11"></div>
            <button type="submit" class="btn btn-primary col-lg-1">Publicar</button>
        </div>
    </form>
    @*public int CategoryId { get; set; } verificar que sea obligado isertarlo*@
    @*public int UserId { get; set; }*@
    @*public DateTime LastModified { get; set; }*@
    @*Note que cuando se implemente el login por usuario no hara falta incluir la dato del usuario en este formulario*@
</body>

</html>