@model User
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- full Title -->

<div class="col-lg-7 mx-auto mt-4">
    <div class="card">
        <div class="card-body">
            <!-- Post Content Column -->
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="~/images/@Model.ProfilePicture" height="200" width="300" />
            <h1 class="card-title border-bottom">@Model.FirstName @Model.LastName</h1>
            <h5><i class="fas fa-phone"></i> @Model.PhoneNumber</h5>
            <h5><i class="fas fa-fw fa-envelope"></i> @Model.Email</h5>
            <div class="d-flex">
                <h5>Total de Ventas: @Model.TotalSales</h5>
                <h5 class="ml-3"><i class="fas fa-star"></i> @Model.Rating</h5>

            </div>
            <h5 class="card-text">@Model.Description</h5>

            @if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(Model.UserName))
            {
                <div class="d-flex">
                    <div class="ml-auto">
                        <a class="card-title btn btn-secondary" asp-action="Edit" asp-controller="User" asp-route-userName="@Model.UserName">Editar</a>
                    </div>
                </div>
            }

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
