<!DOCTYPE html>
@model TrendyShop.ViewModels.EditAccountViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<body>

    <!-- Page Content -->
    <div class="container my-4">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Entrar</li>
        </ol>

        <div class="col-lg-7 mx-auto mt-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid rounded" src="~/images/@Model.CurrentProfilePicture" height="200" width="300" />
                    <form asp-controller="User" asp-action="Edit" method="post" name="sentMessage" id="contactForm" enctype="multipart/form-data">
                        <label asp-for="Image"></label>
                        <div class="custom-file mb-2">
                            <input asp-for="Image" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile">Choose File</label>
                            <span asp-validation-for="Image"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            <input type="text" asp-for="FirstName" class="form-control" id="submit" required data-validation-required-message="Por favor introduzca su nombre de usuario.">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            <input type="text" asp-for="LastName" class=" form-control" id="submit" required data-validation-required-message="Por favor introduzca su nombre de usuario.">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber)
                            <input type="text" asp-for="PhoneNumber" class="form-control" id="submit" required data-validation-required-message="Por favor introduzca su número de teléfono.">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            <input type="text" asp-for="Email" class=" form-control" id="submit" required data-validation-required-message="Por favor introduzca su dirección de correo.">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Details)
                            <input type="text" asp-for="Details" class="form-control" id="submit" required data-validation-required-message="Por favor introduzca algunos detalles sobre ud.">
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword)
                            <input type="password" asp-for="OldPassword" class="form-control" id="submit" required data-validation-required-message="Debe especificar una contraseña.">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            <input type="password" asp-for="NewPassword" class="form-control" id="submit" required data-validation-required-message="Debe especificar una contraseña.">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Confirmation)
                            <input type="password" asp-for="Confirmation" class="form-control" id="submit" required data-validation-required-message="Debe confirmar su contraseña.">
                            <span asp-validation-for="Confirmation" class="text-danger"></span>
                        </div>

                        <div class="d-flex">
                            <div class="ml-auto">
                                <button type="submit" class=" btn btn-secondary">Confirmar</button>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    @*<script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

</body>

</html>
