@model TrendyShop.ViewModels.BuyViewModel
@{
    ViewData["Title"] = "Compra";
}
@*desplegar aca arriba el articulo en cuestion que se desea comprar*@
<h1>Para efectuar su compra rellene los puntos siguientes:</h1>
@*<h2>Por favor inserte el número de artículos de los que ofrece este anuncio que usted desea adquirir:<h2>*@


<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Anuncios
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/Add/NewAdd">Anunciar</a>
                        <a class="dropdown-item" href="/Add">Lista de Anuncios</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Subasta
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/Auction/NewAuction">Nueva Subasta</a>
                        <a class="dropdown-item" href="/Auction">Lista de Subastas</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contáctanos</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuario
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/User/Login">Entrar</a>
                        <a class="dropdown-item" href="/Home/Register">Registrar</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

@using (Html.BeginForm("EffectBuy", "Buy", new { aid = @Model.Add.ArticleId, uid = @Model.Add.UserId, card = @Model.Card, amountToBuy = @Model.AmountToBuy }))
{
    <div class=" form-group">
        @Html.LabelFor(m => m.AmountToBuy)
        @Html.TextBoxFor(m => m.AmountToBuy, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AmountToBuy)
    </div>

    <div class=" form-group">
        @Html.LabelFor(m => m.Card)
        @Html.TextBoxFor(m => m.Card, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Card)
    </div>

    <button type="submit" class=" btn btn-primary">Comprar</button>
}
