@model TrendyShop.ViewModels.BuyAddArticleViewModel
@*@{
    ViewData["Title"] = "Compra";
}*@

<div class="col-lg-5 mx-auto mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title border-bottom">Compra de @Model.Add.Article.Name</h1>
            @using (Html.BeginForm("EffectBuy", "Buy", FormMethod.Post, new { id = "bform" }))
            {
                <div class=" form-group">
                    @Html.LabelFor(m => m.AmountToBuy)
                    @Html.TextBoxFor(m => m.AmountToBuy, new { @class = "form-control", @id = "amount" })
                    @Html.ValidationMessageFor(m => m.AmountToBuy)
                </div>

                <div class=" form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "address" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>

                <div class="d-flex">
                    <button class="btn btn-secondary ml-auto" type="button" data-toggle="modal" data-target="#confirmodal">Realizar pedido</button>
                    <button class="btn btn-dark ml-1" type="button" onclick="location.pathname='/Add'">Cancelar</button>
                </div>

                @Html.HiddenFor(m => m.Add.UserId)
                @Html.HiddenFor(m => m.Add.ArticleId)
                @Html.HiddenFor(m => m.Add.Article.Name)
                @Html.HiddenFor(m => m.Add.Article.Price)
                @Html.HiddenFor(m => m.Add.Amount)
                @Html.HiddenFor(m => m.CustomerId)
            }
        </div>
    </div>
</div>

<div class="modal fade" id="confirmodal" tabindex="-1" role="dialog" aria-labelledby="ConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ConfirmationModalLongTitle">¿Está seguro que desea realizar esta compra?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Se aplicará un extra por el envio.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary ml-auto" onclick="finishOperation()">Continuar</button>
                <button class="btn btn-dark ml-1" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var shippingCharge = 0;

    document.getElementById("amount").select();

    function validateForm() {
        var amount = parseInt(document.getElementById('amount').value);
        var amountAvailable = @Model.Add.Amount;
        var address = document.getElementById('address').value;
              
        if (amount == "" || isNaN(amount) || amount > amountAvailable) {
            alert("Por favor especifique una cantidad positiva y menor que la restante para su compra");
            return false;
        }

        if (address == "" || address == null){
            alert("Por favor especifique una dirección a la cual enviar el pedido");
            return false;
        }

        return true;
    }
    
    function finishOperation() {
        //isvalid = validateForm();
        //if (isvalid) {
        saveShippingCharge();
        submitForm();
        //}
    }

    function submitForm() {
        document.getElementById('bform').submit();
    }

    function saveShippingCharge() {
        shippingCharge = Math.floor((Math.random() * 10) + 1);

        form = document.getElementById('bform');

        var input = document.createElement("INPUT");
        input.setAttribute("type", "hidden");
        input.setAttribute("value", shippingCharge);
        input.setAttribute("name", "ShippingCharge");
        form.appendChild(input);
    }
</script>