@using TrendyShop.ViewModels
@model AuctionViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Subasta x)</title>

</head>
<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3 text-center">Subasta</h1>

        <h1 class="col-lg-8"><small>@Model.Name</small></h1>

        <!-- Here we get the variables to show -->
        *@{
            TimeSpan elapsed = DateTime.Now - Model.Start;
            TimeSpan remaining = Model.Duration - elapsed;
            if (elapsed > Model.Duration) remaining = new TimeSpan(0);
            string winner = "none";
            if (Model.Price != Model.Article.Price)// && 1==0)
            {
                winner = Model.LastBid.user.UserName;
            }
        }

        <div class="my-2 mb-4">
            <h3 class="text-left"><small>Tiempo restante: @remaining</small></h3>
            <h3 class="text-left"><small>Licitador en Cabeza: @winner</small></h3>
            <h3 class="text-left"><small>Precio Actual:@Model.Price</small></h3>
        </div>

        <div class="row">
            <div class="col-lg-12 navbar-brand">Imagen del producto</div>
            <div class="col-lg-12">
                <img src="/images/img00.jpg">
            </div>
        </div>

        <!-- Article Info -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <h4 class="card-header my-4">@Model.Article.Name</h4>
            </div>
            <div class="col-lg-12 card-body">
                <p class="card-text">
                    @Model.AuctionDescription
                </p>
            </div>
            <div class="col-lg-4 card-footer">
            </div>

        </div>

        @if (SignInManager.IsSignedIn(User) && !Model.IsFinished) //Only a logged user can bid
        {
            <form asp-controller="Auction" asp-action="Bid" method="post">
                <h5 class="text-lg-left">Cantidad:</h5>
                <div class="row text-center">
                    <div class="col-lg-1"></div>
                    <input type="text" asp-for="BidAmount" class="mb-4 col-lg-2 form-control" id="submit" required data-validation-required-message="Por favor introduzca una cantidad.">
                    <span asp-validation-for="BidAmount" class="text-danger"></span>
                    <input type="text" asp-for="ArticleId" data="@Model.Id" id="submit" hidden />
                </div>
                <div class="row mb-4">
                    <div class="col-lg-1"></div>
                    <button type="submit" class="bg-dark text-center btn btn-primary col-lg-2">Pujar</button>
                    <div asp-validation-summary="All" class="col-lg-4 text-danger"></div>
                </div>
            </form>
        }

        @if (SignInManager.IsSignedIn(User) && Model.IsFinished) //For the winner only
        {
            <div class="row mb-4">
                <div class="col-lg-1"></div>
                <button type="submit" class="bg-dark text-center btn btn-primary col-lg-2">Finalizar Subasta</button>
            </div>
        }

        <!-- /.row -->

    </div>

  
</body>

</html>
