@using TrendyShop.ViewModels
@model AuctionViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Subasta x)</title>

</head>
<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3 text-center">Subasta</h1>

        <h1 class="col-lg-8"><small>@Model.Name</small></h1>

        <!-- Here we get the variables to show -->
        *@{
            TimeSpan elapsed = DateTime.Now - Model.Start;
            TimeSpan remaining = Model.Duration - elapsed;
            if (elapsed > Model.Duration) remaining = new TimeSpan(0);

            string winner = "none";
            if (Model.Bids.Count > 0)
            {
                winner = Model.Bids.ElementAt(Model.Bids.Count - 1).User.UserName;
            }
        }

        <div class="my-2 mb-4">
            <h3 class="text-left"><small>Tiempo restante: @remaining</small></h3>
            <h3 class="text-left"><small>Licitador en Cabeza: @winner</small></h3>
            <h3 class="text-left"><small>Precio Actual:@Model.Price</small></h3>
        </div>

        <div class="row">
            <div class="col-lg-12 navbar-brand">Imagen del producto</div>
            <div class="col-lg-12">
                <img src="/images/img00.jpg">
            </div>
        </div>

        <!-- Article Info -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <h4 class="card-header my-4">@Model.Article.Name</h4>
            </div>
            <div class="col-lg-12 card-body">
                <p class="card-text">
                    @Model.AuctionDescription
                </p>
            </div>

            @if (SignInManager.IsSignedIn(User)) //Only a logged user can participate
            {
        <form asp-controller="Auction" asp-action="Bid" method="post" name="sentMessage" id="contactForm">
            <div class="col-lg-2 card-footer">
                <h3>Cantidad</h3>
            </div>
                <input asp-for="BidAmount" class="col-lg-2 form-control" id = "submit" required="" data-validation-required-message="Por favor introduzca una cantidad" type="text">
            <div class="col-lg-4 card-footer">
                <button type="submit" class="btn btn-primary">Pujar</button>
            </div>
        </form>
              }

                
                    <div class="col-lg-4 card-footer">
                    </div>

            </div>
        <!-- /.row -->

    </div>

  
</body>

</html>
