@using TrendyShop.ViewModels
@model AuctionViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Page Content -->
    *@{
        TimeSpan elapsed = DateTime.Now - Model.Start;
        TimeSpan remaining = Model.Duration - elapsed;
        if (elapsed > Model.Duration) remaining = new TimeSpan(0);
        string winner = "none";
        if (Model.Biders > 0)
        {
            winner = Model.LastBid.user.UserName;
        }
        int r_days = (int)(remaining.TotalDays);
        int r_hours = (int)(remaining.TotalHours) % 24;
        int r_minutes = (int)(remaining.TotalMinutes) % 60;
        int r_seconds = (int)(remaining.TotalSeconds) % 60;
    }
    <div class="col-lg-7 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title border-bottom">@Model.Name</h3>

                <div class="d-flex">
                    <img src="~/images/@Model.Article.Image" class="img-fluid rounded" height="200" width="300" />
                    <div class=" ml-2 flex-column">

                        <h3>@Model.Article.Name</h3>
                        <p class="card-text">@Model.Article.Description</p>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    @if (Model.IsFinished)
                    {
                        <p title="Fecha"><i class="far fa-calendar-check"></i> @Model.Start.ToString("dd/MM/yy")</p>
                    }
                    else
                    {
                        <p title="Fecha"><i class="far fa-calendar-alt"></i> @Model.Start.ToString("dd/MM/yy")</p>
                    }
                    <p title="Hora de inicio" class="ml-2"><i class="far fa-clock"></i> @Model.Start.ToString("hh:mm tt")</p>
                    <p title="Tiempo estante" class="ml-2"><i class="fas fa-hourglass-end"></i> @r_days : @r_hours : @r_minutes : @r_seconds </p>
                    <h5 title="Participantes" class="ml-2"><i class="fas fa-users"></i> @Model.Biders</h5>

                </div>
                @if (Model.IsFinished)
                {
                    <h5>Vendido a: @winner </h5>

                }
                else if (Model.HasStarted && !Model.IsFinished) /*---------Si está en curso---------*/
                {
                    <h5 class="mb-0">Licitador en cabeza: @winner </h5>
                }
                <div class="d-flex">
                    <h5 class="btn btn-secondary mt-0">Precio Inicial: @Model.Article.Price$</h5>
                    @if (Model.IsFinished) // si ya se terminó
                    {
                        <h5 class="ml-2">Precio Final: @Model.Price$</h5>
                    }
                    else if (Model.HasStarted && !Model.IsFinished) /*---------Si está en curso---------*/
                    {
                        <h5 class="ml-2 btn btn-secondary mt-0">Precio Actual: @Model.Price$</h5>
                    }
                </div>
                <div class="list-group-item">
                    @if (SignInManager.IsSignedIn(User) && !Model.IsFinished && Model.HasStarted) //Only a logged user can participate ---------No deberia chequear que la subasta esté en curso? -----
                    {
                        <form asp-controller="Auction" asp-action="Bid" method="post">
                            <h5 class="text-lg-left">Cantidad:</h5>
                            <div class="row text-center">
                                <div class="col-lg-1"></div>
                                <input type="text" asp-for="BidAmount" class="mb-4 col-lg-2 form-control" id="submit" required data-validation-required-message="Por favor introduzca una cantidad.">
                                <span asp-validation-for="BidAmount" class="text-danger"></span>
                                <input type="text" asp-for="ArticleId" data="@Model.Id" id="submit" hidden /> @*NO BORRAR*@
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-1"></div>
                                <button type="submit" class="bg-dark text-center btn btn-dark col-lg-2">Pujar</button>
                                <div asp-validation-summary="All" class="col-lg-4 text-danger"></div>
                            </div>
                        </form>
                    }

                    @if (SignInManager.IsSignedIn(User) && Model.IsFinished && !Model.Paid && Model.Winner == User.Identity.Name) //For the winner only
                    {
                        <form asp-action="BuyAuctionArticle" asp-controller="Buy" asp-route-uid=@Model.User.Id asp-route-aid=@Model.ArticleId>
                            <button class="btn btn-dark ml-1" type="submit">Finalizar Subasta</button>
                        </form>
                        @*<form asp-controller="Auction" asp-action="Buy" method="post">
                            <div class="row mb-4">
                                <div class="col-lg-1"></div>
                                <input type="text" asp-for="ArticleId" data="@Model.Id" id="submit" hidden />
                                <button type="submit" class="bg-dark text-center btn btn-dark col-lg-2">Finalizar Subasta</button>
                            </div>
                        </form>*@
                    }

                </div>

            </div>
        </div>
    </div>
</body>

</html>
