<!DOCTYPE html>
<html lang="en">
@model TrendyShop.ViewModels.NewAuctionViewModel
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Nueva Subasta</h1>

        <div class="row">
            <div class="col-lg-12 navbar-brand">Imagen</div>
        </div>

        <!-- Auction Info -->
        <form asp-controller="Auction" asp-action="CreateNewAuction" method="post" class="m-4">
            <div class="row breadcrumb">
                <h5 class="col-lg-12">Título:</h5>
                @Html.TextBoxFor(a => a.Auction.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Title)

                <h5 class="col-lg-12">Nombre del Articulo:</h5>
                @Html.TextBoxFor(a => a.Auction.Article.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Article.Name)

                <h5 class="col-lg-12">Categoría:</h5>
                @Html.DropDownListFor(a => a.Auction.Article.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), "", new { @class = "form-control" })

                <h5 class="col-lg-12">Marca:</h5>
                @Html.TextBoxFor(a => a.Auction.Article.Brand, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Article.Brand)

                <h5 class="col-lg-12">Precio inicial:</h5>
                @Html.TextBoxFor(a => a.Auction.Article.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Article.Price)

                <h5 class="col-lg-12">Descripción del Artículo:</h5>
                @Html.TextAreaFor(a => a.Auction.Article.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Article.Description)

                <h5 class="col-lg-12 custom-checkbox">
                    Nuevo:
                    @Html.CheckBoxFor(a => a.Auction.Article.IsNew)
                    @Html.ValidationMessageFor(a => a.Auction.Article.IsNew)
                </h5>

                <h5 class="col-lg-12">Tiempo de subasta:</h5>
                @Html.TextBoxFor(a => a.Auction.Duration, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.Duration)


                <!-- User information will be later extracted from login not here-->
                <h5 class="col-lg-12">User name:</h5>
                @Html.TextBoxFor(a => a.Auction.User.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.User.UserName)

                <h5 class="col-lg-12">User Phone Number:</h5>
                @Html.TextBoxFor(a => a.Auction.User.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.User.PhoneNumber)

                <h5 class="col-lg-12">User Email:</h5>
                @Html.TextBoxFor(a => a.Auction.User.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Auction.User.Email)

                <div class="col-lg-11"></div>
                <button type="submit" class="btn btn-primary col-lg-1">Publicar</button>
            </div>
        </form>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->


</body>

</html>
