<!DOCTYPE html>
<html lang="en">
@model TrendyShop.ViewModels.NewAuctionViewModel

<body>

    <!-- Page Content -->
    <div class="col-lg-8 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title border-bottom">Nueva Subasta</h1>

                <!-- Auction Info -->
                <form asp-controller="Auction" asp-action="CreateNewAuction" method="post" class="m-4" enctype="multipart/form-data">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Title)
                        @Html.TextBoxFor(a => a.Auction.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Article.Name)
                        @Html.TextBoxFor(a => a.Auction.Article.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Article.Name)
                    </div>
                    <label asp-for="Image"></label>
                    <div class="custom-file mb-2">
                        <input asp-for="Image" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Seleccionar Foto</label>
                        <span asp-validation-for="Image"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Article.CategoryId)
                        @Html.DropDownListFor(a => a.Auction.Article.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Article.Brand)
                        @Html.TextBoxFor(a => a.Auction.Article.Brand, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Article.Brand)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Article.Price)
                        @Html.TextBoxFor(a => a.Auction.Article.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Article.Price)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Article.Description)
                        @Html.TextAreaFor(a => a.Auction.Article.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Article.Description)
                    </div>

                    <div class="custom-checkbox">
                        @Html.LabelFor(a => a.Auction.Article.IsNew)
                        @Html.CheckBoxFor(a => a.Auction.Article.IsNew)
                        @Html.ValidationMessageFor(a => a.Auction.Article.IsNew)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Duration)
                        @Html.TextBoxFor(a => a.Auction.Duration, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Duration)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(a => a.Auction.Start)
                        @Html.TextBoxFor(a => a.Auction.Start, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.Auction.Start)
                    </div>

                    <div class="d-flex">
                        <button type="submit" class="btn btn-secondary ml-auto">Publicar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
